body 
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 80%;
	font-weight : normal;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

.titel {
	font-size: 24px;
	font-weight : bold;
	color:#152CA1
}

.overskrift {
	font-size: 14px;
	font-weight : bold;
	color:#152CA1
}

.subhead
 {
	font-size: 12px;
	font-weight : bold;
	color:#152CA1
}

.top
 {
	font-size: 9px;
}

td {
	font-size: 12px;
}

th {
	font-size: 12px;
}

.bodystyle 
{
	font-size: 12px;
}

.small 
{
	font-size: 9px;
}

.medium 
{
	font-size: 12px;
}

.big 
{
	font-size: 16px;
}

.xbig 
{
	font-size: 24px;
}

.expanded 
{
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 2px;
}

.justified 
{
	text-align: justify;
}

.footer 
{
	font-family: "Times New Roman", Times, serif;
	font-size: 9px;
	color: #999999;
}

.box1 
{
	padding: 3px;
	border-width: thin;
	border-style: solid;
	border-color: #CCCCCC #666666 #666666 #CCCCCC;
}

.box2 
{
	font-style: italic;
	word-spacing: 2pt;
	padding: 3px;
	border-width: thin;
	border-style: solid;
}

/* Animation */
.menu 
{
    color: white;
}

.menu a 
{
	text-decoration: none;
	color: white;
}

.menu1  
{
	transform: scale(1.0);
	font-size: 130%;
    color: white;
	padding-left: 10px;
}
.menu2  
{
	transform: scale(1.0);
	font-size: 100%;
    color: white;
	padding-left: 22px;
}

.menu1:hover 
{
	font-weight : 110%;
	padding-left: 15px;
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
	transform: scale(1.05);
	transition: transform 0.5s;
	border: 1px solid;
}

.menu2:hover 
{
	font-weight : 110%;
	padding-left: 27px;
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
	transform: scale(1.05);
	transition: transform 0.5s;
	border: 1px solid;
}

a[href$=".pdf"]
{
	transform: scale(1.0);
	text-decoration: none;
	background-image: url("pdf-icon.png");
	background-position: center left;
	background-repeat: no-repeat;
	padding-left: 30px;
	height: 20px;
	display: inline-block;
	padding-top: 10px;
}

a[href$=".pdf"]:hover
{
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
	transform: scale(1.05);
	transition: transform 0.5s;
}

a[href*="facebook"]
{
	transform: scale(1.0);
	text-decoration: none;
	background-image: url("facebook.png");
	background-position: center left;
	background-repeat: no-repeat;
	padding-left: 30px;
	height: 15px;
	display: inline-block;
}

a[href*="facebook"]:hover
{
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
	transform: scale(1.05);
	transition: transform 0.5s;
}

a[href^="mailto"]
{
	transform: scale(1.0);
	text-decoration: none;
	background-image: url("email.png");
	background-position: center left;
	background-repeat: no-repeat;
	padding-left: 30px;
	height: 15px;
	display: inline-block;
}

a[href^="mailto"]:hover
{
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
	transform: scale(1.05);
	transition: transform 0.5s;
}