body 
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 80%;
	font-weight : normal;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

.menu
{
    color: white;
	width: 200px;
	min-width: 200px;
	position: fixed;
	top: 80px;
	background-color: #1935c5;
	z-index: 10;
	height: 100%;
}

hr
{
	width: 95%;
	margin-left: 0px;
}

.doctable
{
	padding-left: 200px; 
	padding-top: 80px;
}

.logo
{
	display: inline-block;
	margin: 0 auto;
	margin-left: 200px;
	max-width: 700px;
	width: 100%;
	height: 80px;
	position: fixed;
	background-color: #1935c5;
	z-index: 10;
}

.logobackground
{
	display: block;
	position: fixed;
	height: 80px;
	width: 100%;
	background-color: #1935c5;
	z-index: 10;
}

.titel 
{
	font-size: 24px;
	font-weight : bold;
	color:#152CA1
}

.overskrift 
{
	font-size: 14px;
	font-weight : bold;
	color:#152CA1
}

.subhead
 {
	font-size: 12px;
	font-weight : bold;
	color:#152CA1
}

.top
{
	font-size: 9px;
}

td 
{
	font-size: 12px;
}

th 
{
	font-size: 12px;
}

.bodystyle 
{
	font-size: 12px;
}

.small 
{
	font-size: 9px;
}

.medium 
{
	font-size: 12px;
}

.big 
{
	font-size: 16px;
}

.xbig 
{
	font-size: 24px;
}

.expanded 
{
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 2px;
}

.justified 
{
	text-align: justify;
}

.footer 
{
	font-family: "Times New Roman", Times, serif;
	font-size: 9px;
	color: #999999;
}

.box1 
{
	padding: 3px;
	border-width: thin;
	border-style: solid;
	border-color: #CCCCCC #666666 #666666 #CCCCCC;
}

.box2 
{
	font-style: italic;
	word-spacing: 2pt;
	padding: 3px;
	border-width: thin;
	border-style: solid;
}

/* Animation */
.menu a 
{
	text-decoration: none;
	color: white;
}

.menu1  
{
	transform: scale(1.0);
	font-size: 130%;
    color: white;
	padding-left: 10px;
}

.menu2  
{
	transform: scale(1.0);
	font-size: 100%;
	color: white;
	padding-left: 22px;
}

.menu1:hover 
{
	font-weight : 110%;
	padding-left: 15px;
	-ms-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
	transition: transform 0.5s;
	border: 1px solid;
}

.menu2:hover 
{
	font-weight : 110%;
	padding-left: 27px;
	-ms-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
	transition: transform 0.5s;
	border: 1px solid;
}

a[href$=".pdf"]
{
	transform: scale(1.0);
	text-decoration: none;
	background-image: url("pdf-icon.png");
	background-position: center left;
	background-repeat: no-repeat;
	padding-left: 20px;
	height: 20px;
	display: inline-block;
	padding-top: 10px;
	z-index: 0;
}

a[href$=".pdf"]:hover
{
	-ms-transform: scale(1.03);
	-webkit-transform: scale(1.03);
	transform: scale(1.03);
	transition: transform 0.5s;
	font-weight: bold;
	margin-left: 5px;
	padding-right: 5px;
}

a[href*="facebook.com"]
{
	transform: scale(1.0);
	text-decoration: none;
	background-image: url("facebook.png");
	background-position: center left;
	background-repeat: no-repeat;
	padding-left: 30px;
	height: 15px;
	display: inline-block;
}

a[href*="facebook.com"]:hover
{
	-ms-transform: scale(1.03);
	-webkit-transform: scale(1.03);
	transform: scale(1.03);
	transition: transform 0.5s;
	font-weight: bold;
	margin-left: 5px;
	padding-right: 5px;
}

a[href^="mailto"]
{
	transform: scale(1.0);
	text-decoration: none;
	background-image: url("email.png");
	background-position: center left;
	background-repeat: no-repeat;
	padding-left: 30px;
	height: 15px;
	display: inline-block;
}

a[href^="mailto"]:hover
{
	-ms-transform: scale(1.03);
	-webkit-transform: scale(1.03);
	transform: scale(1.03);
	transition: transform 0.5s;
	font-weight: bold;
	margin-left: 5px;
	padding-right: 5px;
}

a[href]
{
	transform: scale(1.0);
	text-decoration: none;
	z-index: 10;
}

a[href]:hover
{
	-ms-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
	transition: transform 0.5s;
	font-weight: bold;
}

img
{
	opacity: 0.9;
    image-orientation: from-image;
	border-radius: 5px;
}

img:hover
{
	opacity: 1.0;
	-ms-transform: scale(1.01);
	-webkit-transform: scale(1.01);
	transform: scale(1.01);
	transition: transform 0.5s;
	object-fit: cover;
}

video
{
	opacity: 0.9;
}

video:hover
{
	opacity: 1.0;
}

@media (max-width: 800px) 
{
	td
	{
		font-size: 85%;
	}
	
	.titel, h1
	{
		font-size: 13px;
	}
	
	.subhead, h2
	{
		font-size: 8px;
	}
	
	.top
	{
		font-size: 8px;
	}
	
	.overskrift 
	{
		font-size: 8px;
	}

	p, li
	{
		font-size: 6px;
	}
	
	.logo
	{
		margin-left: 0px;
	}
	
	.menu
	{
		width: 110px;
		min-width: 110px;
	}
	
	.menu1  
	{
		font-size: 85%;
	}

	.menu2  
	{
		font-size: 60%;
		padding-left: 18px;
	}
	
	.doctable
	{
		padding-left: 100px;
		min-width: 500px;
	}
	
	.menu2:hover 
	{
		-ms-transform: scale(1.03);
		-webkit-transform: scale(1.03);
		transform: scale(1.03);
	}	
}
